<div class="row">
  <div class="span4 offset4 form center">
  
    <%= form_for [:admin, @product] do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :price %>
      <%= f.text_field :price %>

      <%= f.label :image_url %>
      <%= f.text_field :image_url %>
      
      <%= f.submit "Save", class: "btn btn-larg btn-primary" %>

    <% end %>
  </div>
</div>