<h1>Products </h1>
<p>
  <%= link_to 'Create New', new_admin_product_path, class: 'btn btn-primary' %>
</p>

<% if flash[:notice].present? %>
 <div class="notice"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover table-bordered">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Created At</th>
    <th></th>
  </tr>
  <% for product in @products %>
    <tr class="product-<%= product.id %>">
      <td><%= link_to product.id, admin_product_path(product) %></td>
      <td><%= link_to product.name, admin_product_path(product) %></td>
      <td><%= number_to_currency product.price %></td>
      <td><%= product.created_at.strftime(
                "%A, %B #{product.created_at.day.ordinalize}, %Y %l:%M %p %Z") %>
      </td>
      <td>
        <%= link_to 'Edit', edit_admin_product_path(product) %> 
        <%= link_to 'Delete', admin_product_path(product), 
                              method: 'delete', 
                              data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table>