<!-- <table>
  <% params.each do |k, v| %>
    <tr>
      <th><%= "#{k}" %></th>
      <td><%= "#{v}" %></td>
    </tr>
  <% end %>
</table> -->
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Created At</th>
  </tr>
  <tr>
    <td><%= @product.id %></td>
    <td><%= @product.name %></td>
    <td><%= number_to_currency @product.price %></td>
    <td><%= image_tag @product.image_url, 
              alt: @product.image_url,  
              width: 80,
              height: 80 %></td>
    <td><%= @product.created_at %></td>
  </tr>
</table>

<%= link_to "Back to Products", admin_products_path %>